.banner {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  left: 0px;
  margin-top: 22px;
}

#img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.41),rgba(0, 0, 0, 0.41)),url(https://images.unsplash.com/photo-1507924538820-ede94a04019d?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.caption {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  padding: 0 5px;
}
